.jumbotron {
  background: linear-gradient(
    rgba(29, 35, 42, 0.1), 
    rgba(29, 35, 42, 0.1)
  );
  height: 800px; 
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.jumbotron .image{
  background: url(./img/logos/finallogo.png) no-repeat;
  background-size: 300px;
  padding-top: 50px;
  margin-top: 70px;
  margin-left: 80px;
  padding-bottom: 130px;
}

.jumbotron video {
  height: 1000px;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

@media screen and (max-device-width: 1000px) {
  html {
   background: url(group-pic.jpeg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
  .jumbotron{
    background: linear-gradient(
      rgba(29, 35, 42, 0.1), 
      rgba(29, 35, 42, 0.1)
      ),
    url(PedulVid30sec.gif) no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
}

.jumbotron .tagline {
  font-family: 'Raleway', sans-serif;
  margin-left: 80px;
  font-size: 2em; 
  font-weight: 130;
  color: #FFFFFF;
}

.jumbotron h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  color: #FFFFFF;
  padding-top: 100px;
  padding-left: 210px;
}

#mc_embed_signup {
  padding-left: 180px;
}

.clear {
  margin-left: -20px;
}



/* Copyright PeduL 2015, all rights reserved.  */