
.fullscreen-bg__video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.fullscreen-bg__video {
  background: linear-gradient(
      rgba(29, 35, 42, 0.8), 
      rgba(29, 35, 42, 0.8)
    ),
  url('http://www.pedul.io/LibraryIndoor.mp4') no-repeat center center fixed;

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}