html {
  background: url(9b635d7ccb865688440baf13cdfda3c8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

meta .mediapic {
  background: url(https://drive.google.com/open?id=0B4vejMS66osDQVhrUXlRWmxJU28);
}

.jumbotron {
  background: linear-gradient(
    rgba(29, 35, 42, 0.1), 
    rgba(29, 35, 42, 0.1)
  );
  height: 550px; 
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.jumbotron .image{
  background: url(finallogo.png) no-repeat;
  background-size: 300px;
  padding-top: 50px;
  margin-top: 70px;
  margin-left: 80px;
  padding-bottom: 130px;
}

.jumbotron:row {
  content: '';
  width: 100%;
  height: 100%;
  padding-right: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.jumbotron video {
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

@media screen and (max-device-width: 800px) {
  html {
   background: url(group-pic.jpeg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
  .jumbotron{
    background: linear-gradient(
      rgba(29, 35, 42, 0.1), 
      rgba(29, 35, 42, 0.1)
      ),
    url(PedulVid30sec.gif) no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
}