html {
  background: url(9b635d7ccb865688440baf13cdfda3c8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

meta .mediapic {
  background: url(https://drive.google.com/open?id=0B4vejMS66osDQVhrUXlRWmxJU28);
}

.jumbotron {
  background: linear-gradient(
    rgba(29, 35, 42, 0.1), 
    rgba(29, 35, 42, 0.1)
  );
  height: 550px; 
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.jumbotron .image{
  background: url(finallogo.png) no-repeat;
  background-size: 300px;
  padding-top: 50px;
  margin-top: 70px;
  margin-left: 80px;
  padding-bottom: 130px;
}

.jumbotron:row {
  content: '';
  width: 100%;
  height: 100%;
  padding-right: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.jumbotron video {
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

@media screen and (max-device-width: 800px) {
  html {
   background: url(group-pic.jpeg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
  .jumbotron{
    background: linear-gradient(
      rgba(29, 35, 42, 0.1), 
      rgba(29, 35, 42, 0.1)
      ),
    url(PedulVid30sec.gif) no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
}

.jumbotron .tagline {
  font-family: 'Raleway', sans-serif;
  margin-left: 80px;
  font-size: 2em; 
  font-weight: 130;
  color: #FFFFFF;
}

.jumbotron h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  color: #FFFFFF;
  padding-top: 100px;
  padding-left: 210px;
}

#mc_embed_signup {
  padding-left: 180px;
}

.clear {
  margin-left: -20px;
}

.band {
  height: 20px;
  background-color: #D4B46A;
}

.biographies .description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
}

.biographies {
  background-color: #042037;  
}

.biographies .blurb/*, .blurb_tag */{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  margin-left: 100px;
  margin-right: 100px;
  display: table;
  vertical-align: middle;
}

.blurb {
  text-align: justify;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*.blurb_tag{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  display: table-cell;
}
*/

.circles {
  background-color: #042037;
}

.user {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  margin: 15px;
}

.kayla {
  background-image: url('kayla_jackson.jpg');
}

.user.kayla{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.pema {
  background-image: url('pema_lama.jpg');
}

.user.pema{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.chisa {
  background-image: url('chisa_egbelu.jpg');
}

.user.chisa{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.murtala {
  background-image: url('Murtala_Aliyu.jpg');
}

.user.murtala{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.daniel {
  background-image: url('daniel_chen.jpg');
}

.user.daniel{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.gabby {
  background-image: url('gabby_murphy.JPG');
}

.user.gabby{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #D5D5D5;
  text-align: center;
}

.learn-more {
  background-color: #009E66;
  border-bottom: 3px solid #;
  text-align: center;
}

.learn-more .image {
  background: url(finallogo.png) no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 7em;
}

.learn-more h3 {
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}


/* Copyright PeduL 2015, all rights reserved.  */