html {
  background: url(9b635d7ccb865688440baf13cdfda3c8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: linear-gradient(
      rgba(29, 35, 42, 0.85), 
      rgba(29, 35, 42, 0.85)
    ),
  url(PedulVid30sec.gif) no-repeat center center fixed;
  height: 550px; 
  background-size: cover;
}

.jumbotron .image {
  background: url(finallogo.png) no-repeat;
  background-size: 300px;
  padding-top: 50px;
  margin-top: 70px;
  padding-bottom: 130px;
}

.jumbotron .tagline {
  font-size: 2em; 
  font-weight: 130;
  color: #A6B3AD;
  margin-left: 30px;
}

.jumbotron h4 {
  font-size: 21px;
  color: #FFFFFF;
  padding-top: 100px;
  padding-left: 210px;
}

#mc_embed_signup {
  padding-left: 180px;
}

.clear {
  margin-left: -20px;
}

.band {
  height: 15px;
  background-color: #E3CD3B;
}

.circles .description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
}


.circles {
  height: 600px;
  background-color: #042037;
  
}

.user {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.chisa {
    background-image: url('chisa_egbelu.jpg');
}

.pema {
    background-image: url('pema_lama.jpeg');
}

.prompt {
    width: 100px;
    height: 100px;
}

.murtala {
    background-image: url('Murtala_Aliyu.jpg');
}

.daniel {
    background-image: url('daniel_chen.jpg');
}



.learn-more {
  background-color: #009E66;
  border-bottom: 3px solid #;
  text-align: center;
}

.learn-more .image {
  background: url(finallogo.png) no-repeat;
  background-size: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
   margin: 0 auto;
    width: 7%;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}


/* Copyright PeduL 2015, all rights reserved.  */